<h2>Clients</h2>
<div *ngFor="let client of clients; index as clientId">
    <h2>
        <a [title]="client.name + ' details'" [routerLink]="['/clients', clientId]">
            {{client.name}}
        </a>
    </h2>
</div>


<h2>Products</h2>
<div *ngFor="let product of products; index as productId">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button (click)="share()">
        Share
    </button>

    <app-product-alerts
            [product]="product"
            (notify)="onNotify()">
    </app-product-alerts>
</div>
